name: 'Terraform'

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

env:
  TF_VAR_proxmox_api_url: ${{ secrets.PROXMOX_API_URL }}
  TF_VAR_proxmox_api_token_id: ${{ secrets.PROXMOX_API_TOKEN_ID }}
  TF_VAR_proxmox_api_token: ${{ secrets.PROXMOX_API_TOKEN }}

jobs:
  plan:
    name: 'Terraform Plan'    
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./terraform
        shell: bash
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Terraform Init
        run: terraform init -reconfigure

      - name: Terraform Fmt
        run: terraform fmt

      - name: Terraform Plan
        run: terraform plan -out=tfplan

  apply:
    name: 'Terraform Apply'
    needs: plan
    runs-on: self-hosted
    environment: local-proxmox 
    if: github.ref == 'refs/heads/main'
    
    defaults:
      run:
        working-directory: ./terraform
        shell: bash

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Terraform Init
        run: terraform init -reconfigure

      - name: Terraform Apply
        run: terraform apply -auto-approve

  install-ansible:
    needs: apply
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy script to remote VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./scripts/install-ansible-ubuntu.sh"
          target: "/tmp/"                

      - name: Execute script on remote VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            chmod +x /tmp/install-ansible-ubuntu.sh
            /tmp/install-ansible-ubuntu.sh
            rm /tmp/install-ansible-ubuntu.sh