name: 'Terraform'

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

env:
  TF_VAR_proxmox_api_url: ${{ secrets.PROXMOX_API_URL }}
  TF_VAR_proxmox_api_token_id: ${{ secrets.PROXMOX_API_TOKEN_ID }}
  TF_VAR_proxmox_api_token: ${{ secrets.PROXMOX_API_TOKEN }}

  CONF_resource_group_name: ${{ secrets.CONF_RESOURCE_GROUP_NAME }}
  CONF_storage_account_name: ${{ secrets.CONF_STORAGE_ACCOUNT_NAME }}
  CONF_container_name: ${{ secrets.CONF_CONTAINER_NAME }}
  CONF_key: ${{ secrets.CONF_KEY }}

jobs:
  terraform:
    name: 'Terraform'
    runs-on: self-hosted
    environment: local-proxmox

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init \
         -backend-config="resource_group_name=$CONF_resource_group_name" \
          -backend-config="storage_account_name=$CONF_storage_account_name" \
          -backend-config="container_name=$CONF_container_name" \
          -backend-config="key=$CONF_key"

    # Generates an execution plan for Terraform
    - name: Terraform Plan
      run: terraform plan -out=tfplan

      # On push to "main", build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
    - name: Terraform Apply
      if: github.ref == 'refs/heads/main'
      run: terraform apply -input=false -auto-approve tfplan

